.u-section-1 {
  background-image: none;
  min-height: 760px;
}

.u-section-1 .u-image-1 {
  width: 1150px;
  object-position: 0% 100%;
  background-position: 0% 100%;
  left: auto;
  right: 0;
}

.u-section-1 .u-group-1 {
  width: 637px;
  min-height: 556px;
  margin: 113px calc(((100% - 1140px) / 2)) 113px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 0;
}

.u-section-1 .u-image-2 {
  width: 392px;
  height: 220px;
  animation-duration: 1000ms;
  margin: 59px 0 0 245px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 40px 0 55px 69px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 681px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
  }

  .u-section-1 .u-group-1 {
    width: 590px;
    margin-top: 101px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
    margin-bottom: 70px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 56px;
    padding-right: 28px;
  }

  .u-section-1 .u-image-2 {
    width: 161px;
    margin-top: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 672px;
  }

  .u-section-1 .u-image-1 {
    width: 770px;
  }

  .u-section-1 .u-group-1 {
    width: 516px;
    margin-top: 97px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-bottom: 65px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 124px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 637px;
  }

  .u-section-1 .u-image-1 {
    width: 590px;
  }

  .u-section-1 .u-group-1 {
    width: 405px;
    margin-top: 87px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 18px;
    padding-left: 42px;
  }

  .u-section-1 .u-image-2 {
    width: 132px;
    height: 132px;
    margin-top: 45px;
    margin-left: 148px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 495px;
  }

  .u-section-1 .u-image-1 {
    width: 423px;
  }

  .u-section-1 .u-group-1 {
    width: 317px;
    margin-top: 108px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-bottom: 20px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 85px;
    height: 94px;
    margin-top: 53px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin: 7px 6px 14px 76px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 800px;
}

.u-section-2 .u-image-1 {
  width: 1150px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  height: 760px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2));
  height: 380px;
  margin: -590px auto 0 0;
}

.u-section-2 .u-line-1 {
  height: 170px;
  width: 14px;
  transform-origin: center bottom 0px;
  margin: -460px auto 0 calc(((100% - 1140px) / 2) + -54px);
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -170px auto 250px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 76px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 384px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 40px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  font-size: 3rem;
  line-height: 1;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 460px;
}

.u-section-2 .u-image-2 {
  width: 367px;
  min-height: 275px;
  background-image: url("images/patterngoldnew1.png");
  background-position: 50% 50%;
  margin: 185px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  margin-bottom: 0;
}

.u-section-2 .u-video-1 {
  height: 339px;
  width: 588px;
  animation-duration: 1000ms;
  margin: -399px auto 0 -156px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 581px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    object-position: 0% 0%;
    background-position: 0% 0%;
    height: 681px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2));
    height: 356px;
    margin-top: -471px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -401px;
    margin-left: calc(((100% - 1140px) / 2) + 68px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -201px;
    margin-bottom: 213px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 36px;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
    position: relative;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 45px;
    margin-bottom: 30px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 379px;
  }

  .u-section-2 .u-image-2 {
    width: 303px;
  }

  .u-section-2 .u-video-1 {
    height: 216px;
    width: 374px;
    margin-top: -274px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 936px;
  }

  .u-section-2 .u-image-1 {
    width: 770px;
    object-position: 0% 50%;
    background-position: 0% 50%;
    height: 672px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2));
    height: 387px;
    margin-top: -454px;
  }

  .u-section-2 .u-line-1 {
    width: 6px;
    margin-top: -515px;
    margin-left: calc(((100% - 1140px) / 2) + 177px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -115px;
    margin-bottom: 145px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 83px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 37px;
    padding-right: 38px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    width: 645px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 697px;
  }

  .u-section-2 .u-image-2 {
    width: 334px;
    margin-right: 105px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 622px;
  }

  .u-section-2 .u-image-1 {
    width: 590px;
    object-position: 0% 0%;
    background-position: 0% 0%;
    height: 637px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2));
    height: 380px;
    margin-top: -419px;
  }

  .u-section-2 .u-line-1 {
    width: 14px;
    margin-top: -508px;
    margin-left: calc(((100% - 1140px) / 2) + 268px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -42px;
    margin-bottom: 243px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 62px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 37px;
  }

  .u-section-2 .u-text-2 {
    width: 466px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 523px;
  }

  .u-section-2 .u-image-2 {
    width: 348px;
    margin-right: 18px;
  }

  .u-section-2 .u-video-1 {
    margin-top: -248px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 273px;
  }

  .u-section-2 .u-image-1 {
    width: 423px;
    object-position: 0% 50%;
    background-position: 0% 50%;
    height: 495px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2));
    height: 432px;
    margin-top: -360px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -489px;
    margin-left: calc(((100% - 1140px) / 2) + 368px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -132px;
    margin-bottom: 175px;
    margin-left: calc(((100% - 1140px) / 2) + 399px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 39px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 32px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-text-2 {
    width: 302px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 329px;
  }

  .u-section-2 .u-image-2 {
    width: 293px;
    margin-right: 3px;
  }

  .u-section-2 .u-video-1 {
    height: 196px;
    margin-top: -224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 664px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: -174px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 868px;
}

.u-section-3 .u-shape-1 {
  width: 394px;
  height: 409px;
  margin: 77px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 421px;
  min-height: 421px;
  background-image: url("images/cpu.png");
  animation-duration: 1000ms;
  margin: -477px 0 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 85px 20px 85px 56px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 202px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 23px;
  padding-right: 0;
}

.u-section-3 .u-line-1 {
  width: 522px;
  height: 18px;
  margin: 15px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 666px;
}

.u-section-3 .u-image-2 {
  width: 472px;
  min-height: 222px;
  background-image: url("images/bg21.png");
  background-position: 50% 50%;
  margin: 199px auto 0 20px;
}

.u-section-3 .u-container-layout-5 {
  margin-bottom: 0;
}

.u-section-3 .u-group-3 {
  width: 364px;
  min-height: 319px;
  margin: -379px auto 0 77px;
}

.u-section-3 .u-image-3 {
  width: 291px;
  height: 217px;
  animation-duration: 1000ms;
  margin: 51px auto;
}

.u-section-3 .u-group-4 {
  width: 367px;
  min-height: 76px;
  margin: -349px 0 0 auto;
}

.u-section-3 .u-container-layout-7 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  animation-duration: 1000ms;
  margin: 376px auto 0 77px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  animation-duration: 1000ms;
  margin: -45px 192px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -139px;
    margin-bottom: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 851px;
  }

  .u-section-3 .u-shape-1 {
    width: 325px;
    height: 344px;
    margin-top: 85px;
  }

  .u-section-3 .u-image-1 {
    width: 347px;
    min-height: 345px;
    margin-top: -400px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin: 86px 19px 8px 43px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 185px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-line-1 {
    width: 431px;
    margin-top: 20px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 549px;
  }

  .u-section-3 .u-image-2 {
    width: 384px;
    min-height: 215px;
    background-position: 0% 0%;
    margin-top: 198px;
    margin-left: 22px;
  }

  .u-section-3 .u-group-3 {
    width: 300px;
    margin-top: -371px;
    margin-left: 63px;
  }

  .u-section-3 .u-image-3 {
    width: 240px;
  }

  .u-section-3 .u-group-4 {
    width: 303px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 63px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1358px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -96px;
    margin-bottom: 63px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 718px;
    z-index: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 407px;
    height: 407px;
    margin-top: 77px;
  }

  .u-section-3 .u-image-1 {
    width: 422px;
    min-height: 421px;
    margin-top: -484px;
    margin-right: auto;
    margin-left: 77px;
  }

  .u-section-3 .u-text-1 {
    margin: 119px 13px 19px 74px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 226px;
    z-index: 1;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 38px;
    padding-right: 13px;
  }

  .u-section-3 .u-line-1 {
    width: 330px;
    margin-top: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    z-index: 3;
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 515px;
    min-height: 206px;
    margin-top: 207px;
    margin-left: 0;
  }

  .u-section-3 .u-group-3 {
    width: 409px;
    margin-left: 49px;
  }

  .u-section-3 .u-image-3 {
    width: 331px;
    margin-bottom: 30px;
    margin-left: 31px;
  }

  .u-section-3 .u-group-4 {
    width: 408px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1427px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -192px;
    margin-bottom: 159px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 790px;
    z-index: auto;
  }

  .u-section-3 .u-shape-1 {
    width: 437px;
  }

  .u-section-3 .u-image-1 {
    width: 448px;
    margin-top: -475px;
    margin-left: 36px;
  }

  .u-section-3 .u-text-1 {
    margin: 126px 56px 44px 36px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 170px;
    z-index: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 28px;
    padding-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 484px;
    transform-origin: left center 0px;
    margin-top: 41px;
  }

  .u-section-3 .u-layout-cell-3 {
    z-index: auto;
  }

  .u-section-3 .u-image-2 {
    width: 428px;
    min-height: 222px;
    margin-top: 198px;
    margin-left: 9px;
  }

  .u-section-3 .u-group-3 {
    width: 364px;
    margin-top: -378px;
    margin-left: 36px;
  }

  .u-section-3 .u-image-3 {
    width: 282px;
    margin-left: auto;
  }

  .u-section-3 .u-group-4 {
    width: 322px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 36px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1469px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -103px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 760px;
  }

  .u-section-3 .u-shape-1 {
    width: 266px;
    height: 288px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    min-height: 304px;
    margin-top: -356px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin: 108px 6px 0 40px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 107px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 260px;
    transform-origin: 130px 9px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-3 .u-image-2 {
    width: 328px;
    min-height: 178px;
    margin-left: auto;
  }

  .u-section-3 .u-group-3 {
    width: 264px;
    min-height: 308px;
    margin-top: -334px;
    margin-left: 23px;
  }

  .u-section-3 .u-image-3 {
    height: 188px;
    width: 270px;
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-3 .u-group-4 {
    width: 250px;
    margin-top: -283px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 15px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 23px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 777px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2));
  height: 513px;
  margin: 84px 0 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -678px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 704px;
}

.u-section-4 .u-image-1 {
  width: 301px;
  min-height: 363px;
  background-image: url("images/patternsmallgold3.png");
  background-position: 50% 50%;
  margin: 260px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-4 .u-group-2 {
  width: 417px;
  min-height: 574px;
  margin: -622px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 415px;
  height: 703px;
  animation-duration: 1000ms;
  margin: 0 auto -129px;
}

.u-section-4 .u-line-1 {
  height: 190px;
  width: 14px;
  transform-origin: center top 0px;
  margin: -61px 49px 0 auto;
}

.u-section-4 .u-image-3 {
  height: 384px;
  width: 1300px;
  margin: -232px auto 0 -80px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 103px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 600px;
}

.u-section-4 .u-container-layout-5 {
  padding-left: 37px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 62px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 49px 0 3px;
}

.u-section-4 .u-line-2 {
  height: 193px;
  width: 16px;
  transform-origin: center top 0px;
  margin: -233px calc(((100% - 1140px) / 2) + -48px) 42px auto;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 1023px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-4 .u-group-2 {
    width: 374px;
  }

  .u-section-4 .u-image-2 {
    width: 342px;
    height: 441px;
    margin-bottom: 40px;
  }

  .u-section-4 .u-line-1 {
    transform-origin: center bottom 0px;
  }

  .u-section-4 .u-image-3 {
    height: 110px;
    width: 374px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 495px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 24px;
    padding-right: 22px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 36px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-4 .u-line-2 {
    margin-right: calc(((100% - 940px) / 2) + -48px);
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 1721px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1066px;
  }

  .u-section-4 .u-image-2 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 112px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 35px;
    padding-right: 38px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-line-2 {
    margin-right: calc(((100% - 720px) / 2) + -48px);
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1137px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 800px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 66px;
    margin-bottom: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 84px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 32px;
    margin-bottom: 41px;
  }

  .u-section-4 .u-line-2 {
    margin-right: calc(((100% - 540px) / 2) + -48px);
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 752px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    height: 332px;
    margin-top: 0;
    margin-bottom: -129px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 100px;
    width: 340px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 53px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 75px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-4 .u-line-2 {
    margin-right: calc(((100% - 340px) / 2) + -48px);
  }
}