 .u-section-1 {
  background-image: url("images/background.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 248px;
  height: 248px;
  background-image: url("images/LOGO.png");
  background-position: 50% 50%;
  margin: 228px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #f900ff, #78007a);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0;
  padding: 7px 155px 7px 154px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #f900ff, #78007a);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 2px auto 0;
  padding: 7px 157px;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #f900ff, #78007a);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 2px auto 0;
  padding: 7px 144px 7px 143px;
}

.u-section-1 .u-btn-4 {
  background-image: linear-gradient(to right, #f900ff, #78007a);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 2px auto 60px;
  padding: 7px 145px;
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-3 {
    margin-left: -87px;
    margin-right: -87px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: -87px;
    margin-right: -87px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-3 {
    margin-left: -187px;
    margin-right: -187px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: -187px;
    margin-right: -187px;
  }
}